@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar link styles */
.nav-link {
  position: relative;
  font-size: 1.2rem;
  color: #C51F65;
  transition: color 0.3s ease;
}

/* Underline */
.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

/* Hover state */
.nav-link:hover {
  color: #F47D34;
}

.nav-link:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/* Active state */
.nav-active {
  color: #C51F65;
}

.nav-active::after {
  transform: translateX(-50%) scaleX(1);
}
